rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  
    // Función auxiliar: verifica si el usuario está autenticado
    function isAuth() {
      return request.auth != null;
    }

    // Función auxiliar: verifica si el usuario es administrador
    function isAdmin() {
      return isAuth() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    // Colección: Configuración y Tarifas Nacionales (Solo Lectura)
    match /config/{document=**} {
      allow read: if isAuth();
      allow write: if false; // Solo se modifica desde la consola de Firebase o por un Admin (si se añade un rol de admin luego)
    }
    match /national_fares/{document=**} {
      allow read: if isAuth();
      allow write: if false;
    }

    // Colección: Pasajeros (Usuarios)
    match /users/{userId} {
      // Cualquiera autenticado puede leer datos básicos (para mostrar nombres en el chat/viaje)
      allow read: if isAuth();
      // Solo el dueño de la cuenta o un administrador pueden crear o modificar su perfil
      allow write: if isAuth() && (request.auth.uid == userId || isAdmin());
    }

    // Colección: Conductores
    match /drivers/{driverId} {
      // Cualquiera puede leer la lista de conductores (Directorio)
      allow read: if isAuth();
      
      // Solo el conductor dueño o un administrador pueden crear o eliminar
      allow create, delete: if isAuth() && (request.auth.uid == driverId || isAdmin());
      
      // Permitir actualización si es dueño, admin, o si SOLO está actualizando las calificaciones
      allow update: if isAuth() && (
        request.auth.uid == driverId || 
        isAdmin() ||
        request.resource.data.diff(resource.data).affectedKeys().hasOnly(['avgRating', 'totalRatings'])
      );
    }

    // Colección: Calificaciones
    match /ratings/{ratingId} {
      allow read: if isAuth();
      // Solo pasajeros autenticados pueden dejar calificaciones
      allow create: if isAuth() && request.resource.data.clientId == request.auth.uid;
      allow update, delete: if false; // Una vez calificado, no se altera
    }

    // Colección: Viajes (Rides)
    match /rides/{rideId} {
      // Permitir leer y escribir a cualquier usuario autenticado (conductores y pasajeros)
      allow read, write: if isAuth();
      
      // Subcolección: Chat del Viaje
      match /messages/{messageId} {
        allow read, write: if isAuth();
      }
    }

    // Colección: Alertas SOS (Botón de Pánico)
    match /sos_alerts/{alertId} {
      // Cualquier usuario autenticado puede enviar una alerta y el administrador puede leer/resolver
      allow read, write: if isAuth();
    }
  }
}
